<section class="space-y-3 text-center flex flex-col items-center">

  <!-- Section Header -->
  <div class="space-y-2">
    <h2 class="font-mono font-semibold text-xl tracking-widest text-gray-200 uppercase">
      Contact
    </h2>

    <p class="font-mono text-sm text-gray-500">
      Let’s build something together
    </p>
  </div>

  <!-- Contact Links -->
  <div class="flex flex-wrap justify-center gap-8 text-lg">

    <a
      href="https://www.linkedin.com/in/devraj-sawant-7b70a6211/"
      target="_blank"
      class="font-mono text-sm text-gray-300 hover:text-white transition"
    >
      LinkedIn →
    </a>

    <a
      href="https://github.com/devrajsawant"
      target="_blank"
      class="font-mono text-gray-300 text-sm hover:text-white transition"
    >
      GitHub →
    </a>

    <a
      href="mailto:devrajsawant6@gmail.com"
      class="font-mono text-sm text-gray-300 hover:text-white transition"
    >
      Email →
    </a>

  </div>

</section>
