<section class="space-y-6 text-left">
  <!-- Section Title -->
  <h2
    class="font-mono font-semibold text-xl tracking-widest text-gray-200 uppercase"
  >
    Experience
  </h2>

  <div class="space-y-6">
    <!-- Experience Item -->
    <div class="flex justify-between items-start">
      <!-- Left -->
      <div class="flex items-start gap-4">
        <!-- Company Logo -->
        <div
          class="w-10 h-10 rounded-full bg-gray-800 flex items-center justify-center overflow-hidden"
        >
          <img
            src="https://media.licdn.com/dms/image/v2/C510BAQGCKYtAVVPNng/company-logo_200_200/company-logo_200_200/0/1630610640856/quvor_logo?e=1772668800&v=beta&t=8PXUaGvvQkOILgq4oiPyaYZYYaTMRXIi0AgJ2dQ_U0Y"
            alt="Quvor"
            class="w-10 h-10 object-contain rounded-full "
          />
        </div>

        <!-- Company Info -->
        <div>
          <h3 class="text-white font-sans text-lg">Quvor</h3>
          <p class="text-gray-400 font-mono text-sm">Frontend Developer</p>
        </div>
      </div>

      <!-- Right (Time Period) -->
      <p class="font-mono text-sm text-gray-500 whitespace-nowrap">
        May 2025 — Present
      </p>
    </div>

    <!-- Experience Item -->
    <div class="flex justify-between items-start">
      <div class="flex items-start gap-4">
        <div
          class="w-10 h-10 rounded-full bg-gray-800 flex items-center justify-center"
        >
          <img
            src="https://media.licdn.com/dms/image/v2/C560BAQHlW_QGJYCWWQ/company-logo_200_200/company-logo_200_200/0/1680019899807?e=1772668800&v=beta&t=aDTJgDfGwsCskhWoh5sZMrDwOmxruExg68fTgOcW4wg"
            alt="Beam Innovate"
            class="w-10 h-10 object-contain rounded-full "
          />
        </div>

        <div>
          <h3 class="text-white font-sans text-lg">
            Beam Innovate Private Limited
          </h3>
          <p class="text-gray-400 font-mono text-sm">
            Frontend Developer Intern
          </p>
        </div>
      </div>

      <p class="font-mono text-sm text-gray-500 whitespace-nowrap">
        Jan 2025 — May 2025
      </p>
    </div>
  </div>
</section>
