<section class="space-y-6 text-left mt-10">
  <!-- Intro -->
  <div class="space-y-2 mt-10">
    <p class="font-mono text-xl font-semibold text-gray-300">Hi,</p>

    <h1 class="text-5xl md:text-5xl font-bold text-white font-sans">
      Devraj here
    </h1>

    <p class="font-mono text-lg text-gray-400">
      Full Stack developer based in Mumbai📍
    </p>
  </div>

  <!-- About -->
  <div class="space-y-3">
    <h2
      class="font-mono font-semibold text-xl tracking-widest text-gray-200 uppercase"
    >
      About
    </h2>

    <p class="text-gray-400 text-xl leading-relaxed font-normal font-mono">
      Full-stack Developer with strong frontend expertise in Next.js and
      Remix.run, translating Figma designs into pixel perfect, high-performance
      apps focused on clean architecture, UX refinement, and performance
      optimization.I am also skilled in Node.js and Express.js for building
      scalable backend APIs, delivering end-toend, production-ready solutions.
    </p>
  </div>

  <!-- Actions -->
  <div class="flex gap-4">
    <a
      href="#projects"
      class="px-4 bg-gray-200 text-black font-sans text-md rounded-xs hover:opacity-90 transition flex items-center justify-center"
    >
      View Work
    </a>

    <a
      href="#contact"
      class="px-4 py-0.5 border text-md border-gray-700 rounded-xs hover:border-gray-500 transition"
    >
      Contact
    </a>

    <a
      href="/assets/DEVRAJ_FULL_STACK_DEVELOPER.pdf"
      download
      class="px-4 py-0.5 border text-md border-gray-700 rounded-xs hover:border-gray-500 transition"
    >
      Resume
    </a>
  </div>
</section>
