<section class="space-y-8 text-left">
  <!-- Section Header -->
  <div class="space-y-2">
    <h2
      class="font-mono font-semibold text-xl tracking-widest text-gray-200 uppercase"
    >
      Projects
    </h2>

    <p class="font-mono text-md text-gray-400">Check out my latest work</p>
  </div>

  <!-- Projects List -->
  <div class="space-y-6">
    <!-- ================= Project 1 ================= -->
    <div class="border border-gray-800 rounded-lg overflow-hidden">
      <div class="flex flex-col md:flex-row">
        <!-- Image -->
        <div class="md:w-[50%]">
          <img
            src="assets/cozy.png"
            alt="Cozy"
            class="w-full h-full object-contain"
          />
        </div>

        <!-- Content -->
        <div class="p-6 space-y-4 md:w-[50%]">
          <h3 class="text-white text-xl font-semibold font-sans">
            Cozy - Ecommerce app
          </h3>

          <p class="text-gray-400 text-sm font-mono leading-relaxed">
            Developed a responsive eCommerce platform with authentication, cart
            and checkout flows, persistent local storage, and Firebase
            integration.
          </p>

          <!-- Tech -->
          <div class="flex flex-wrap gap-2">
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Next.js</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Tailwind</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >TypeScript</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Firebase</span
            >
          </div>

          <!-- Links -->
          <div class="flex gap-6 pt-2 text-sm font-mono">
            <a
              href="https://github.com/devrajsawant/cozy"
              class="text-gray-300 hover:text-white transition"
            >
              GitHub →
            </a>

            <a
              href="https://cozy-devraj.vercel.app/"
              class="text-gray-300 hover:text-white transition"
            >
              Live Demo →
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ================= Project 2 ================= -->
    <div class="border border-gray-800 rounded-lg overflow-hidden">
      <div class="flex flex-col md:flex-row">
        <!-- Image -->
        <div class="md:w-[50%]">
          <img
            src="assets/dev-scrum.png"
            alt="Project preview"
            class="w-full h-full object-contain"
          />
        </div>

        <!-- Content -->
        <div class="p-6 space-y-4 md:w-[50%]">
          <h3 class="text-white text-xl font-semibold font-sans">
            Dev Scrum - Project Management Platform
          </h3>

          <p class="text-gray-400 text-sm font-mono leading-relaxed">
            Developed a multi-tenant project management platform with structured
            workflows, secure authentication, and a Kanban board for sprint and
            ticket management.
          </p>

          <!-- Tech -->
          <div class="flex flex-wrap gap-2">
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >NextJs</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >TailwindCss</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Clerk</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Shadcn UI</span
            >

            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Postgres</span
            >
          </div>

          <!-- Links -->
          <div class="flex gap-6 pt-2 text-sm font-mono">
            <a
              href="https://github.com/devrajsawant/dev-scrum"
              class="text-gray-300 hover:text-white transition"
            >
              GitHub →
            </a>

            <!-- <a href="#" class="text-gray-300 hover:text-white transition">
              Live Demo →
            </a> -->
          </div>
        </div>
      </div>
    </div>

    <!-- ================= Project 3 ================= -->
    <div class="border border-gray-800 rounded-lg overflow-hidden">
      <div class="flex flex-col md:flex-row">
        <!-- Image -->
        <div class="md:w-[50%]">
          <img
            src="assets/jobHunt.png"
            alt="Project preview"
            class="w-full h-full object-contain"
          />
        </div>

        <!-- Content -->
        <div class="p-6 space-y-4 md:w-[50%]">
          <h3 class="text-white text-xl font-semibold font-sans">
            JOBS HUNT - Full Stack Job Portal
          </h3>

          <p class="text-gray-400 text-sm font-mono leading-relaxed">
            Developing a dynamic job portal allowing users to search and filter
            jobs, manage profiles, register companies, and track applications
            efficiently
          </p>

          <!-- Tech -->
          <div class="flex flex-wrap gap-2">
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >NextJs</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >TailwindCss</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Tanstack Query</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Redux</span
            >

            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Node</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Express</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >MongoDB</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >JWT</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Axios</span
            >
          </div>

          <!-- Links -->
          <div class="flex gap-6 pt-2 text-sm font-mono">
            <a
              href="https://github.com/devrajsawant/JobHunt-frontend"
              class="text-gray-300 hover:text-white transition"
            >
              GitHub →
            </a>

            <a
              href="https://job-hunt-frontend-ochre.vercel.app/"
              class="text-gray-300 hover:text-white transition"
            >
              Live Demo →
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ================= Project 4 - Taskify ================= -->
    <div class="border border-gray-800 rounded-lg overflow-hidden">
      <div class="flex flex-col md:flex-row">
        <!-- Image -->
        <div class="md:w-[50%]">
          <img
            src="assets/taskify.png"
            alt="Project preview"
            class="w-full h-full object-contain"
          />
        </div>

        <!-- Content -->
        <div class="p-6 space-y-4 md:w-[50%]">
          <h3 class="text-white text-xl font-semibold font-sans">
            Taskify - Minimal Task Manager
          </h3>

          <p class="text-gray-400 text-sm font-mono leading-relaxed">
            Ditch the complex UI, where you have to go through complete routine
            just to add a task. In Taskify, just type the task, press enter
            and move on. 0 friction
            [PWA - add to home screen and use it as App]
          </p>

          <!-- Tech -->
          <div class="flex flex-wrap gap-2">
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Vue</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >TailwindCss</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Javascript</span
            >
          </div>

          <!-- Links -->
          <div class="flex gap-6 pt-2 text-sm font-mono">
            <a
              href="https://github.com/devrajsawant/taskify"
              class="text-gray-300 hover:text-white transition"
            >
              GitHub →
            </a>

            <a
              href="https://taskify-devraj.vercel.app/"
              class="text-gray-300 hover:text-white transition"
            >
              Live Demo →
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ================= Project 5 - Zentry ================= -->
    <div class="border border-gray-800 rounded-lg overflow-hidden">
      <div class="flex flex-col md:flex-row">
        <!-- Image -->
        <div class="md:w-[50%]">
          <img
            src="assets/zentry.png"
            alt="Project preview"
            class="w-full h-full object-contain"
          />
        </div>

        <!-- Content -->
        <div class="p-6 space-y-4 md:w-[50%]">
          <h3 class="text-white text-xl font-semibold font-sans">
            Zentry Gaming Clone
          </h3>

          <p class="text-gray-400 text-sm font-mono leading-relaxed">
            Built a responsive clone of the Zentry gaming landing page using
            React, Tailwind CSS, and GSAP for smooth animations.
          </p>

          <!-- Tech -->
          <div class="flex flex-wrap gap-2">
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >React</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >TailwindCss</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >GSAP</span
            >
            <span
              class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
              >Javascript</span
            >
          </div>

          <!-- Links -->
          <div class="flex gap-6 pt-2 text-sm font-mono">
            <a
              href="https://github.com/devrajsawant/zentry"
              class="text-gray-300 hover:text-white transition"
            >
              GitHub →
            </a>

            <a
              href="https://zentrygamingclone.netlify.app/"
              class="text-gray-300 hover:text-white transition"
            >
              Live Demo →
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
