<section class="space-y-8 text-left">
  <!-- Section Title -->
  <h2
    class="font-mono font-semibold text-xl tracking-widest text-gray-200 uppercase"
  >
    Skills
  </h2>

  <!-- Frontend -->
  <div class="space-y-3">
    <h3 class="font-mono text-md text-gray-400 uppercase">Frontend</h3>

    <div class="flex flex-wrap gap-2">
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >React.js</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Next.js</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Remix.run</span
      >
       <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Vue</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >TypeScript</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >JavaScript (ES6+)</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Tanstack Query</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Redux</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Tailwind CSS</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Mantine</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >HTML</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >CSS</span
      >
    </div>
  </div>

  <!-- Backend -->
  <div class="space-y-3">
    <h3 class="font-mono text-md text-gray-400 uppercase">Backend</h3>

    <div class="flex flex-wrap gap-2">
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Node.js</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Express.js</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >MongoDB</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >SQL</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Firebase</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Directus</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Supabase</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Neon</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Prisma</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >CLerk</span
      >
    </div>
  </div>

  <!-- Other -->
  <div class="space-y-3">
    <h3 class="font-mono text-md text-gray-400 uppercase">Other</h3>

    <div class="flex flex-wrap gap-2">
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Git</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >GitHub</span
      >
<span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Jest</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Figma</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >VS Code</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >Shadcn UI</span
      >
      <span
        class="font-mono text-sm text-gray-300 bg-[#0f172a] border border-gray-800 px-3 py-[2px] rounded-sm hover:border-gray-600 transition"
        >JWT</span
      >
    </div>
  </div>
</section>
